

@font-face {
  font-family: "Roboto";
  src: url("fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Open Sans";
  src: url("fonts/open-sans-regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("fonts/Montserrat-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


.popup-container {
  width: 100%;
  max-width: 430px;
  padding: 206px 30px 28px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background-repeat: no-repeat;
  box-sizing: border-box;
}

.traiding .popup-close {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/trading-close.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.analiz .popup-close {
  z-index: 99999!important;
  top: 13px!important;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/analiz-close.png) no-repeat;
  position: absolute;
  right: 10px;
  border: none;
}
.planner .popup-close {
  padding: 0!important;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/maxiplanner-close.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.birzha .popup-close {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/birzha-close.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.quiz .popup-close {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/quiz-close.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.all .popup-close {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/all-close.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.lessons .popup-close {
  background-repeat: no-repeat!important;
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/lessons-close.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.ebook .popup-close {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/ebook-close.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.webinar .popup-close {
  width: 18px;
  height: 18px;
  cursor: pointer;
  background: url(../img/webinar-close.png) no-repeat;
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
}
.popup-heading {
  margin: 0px;
  text-transform: uppercase;
  font-weight: bold;
  text-align: center;
  font-style: normal;
  font-size: 20px;
}
.traiding {
  background-color: rgb(1, 4, 12);
  background-image: url(../img/trading.png);
  background-repeat: no-repeat;
  padding: 245px 30px 28px!important;
  background-position: 0px -40px!important;
  background-position-x: center!important;
}
.traiding .popup-heading {
  color: #ffffff!important;
  font-family: "Roboto" , sans-serif!important;
  font-size: 17px!important;
  position: relative;
  margin-bottom: 10px!important;
}
.popup-subtitle {
  text-align: center;
}
.traiding .popup-subtitle {
  margin-bottom: 24px!important;
  color: #ffffff!important;
  font-family: 'OpenSans', sans-serif!important;
  font-size: 16px!important;
  position: relative!important;
  padding-left: 10px!important;
  padding-right: 10px!important;
}

.popup-description {
  font-size: 14px;
  font-weight: 700;
  text-align: center;
  margin-bottom: 26px;
}
.traiding .popup-description {
  color: #ffffff!important;
  font-family: 'OpenSans', sans-serif!important;
  font-size: 18px!important;
  letter-spacing: 1.2px!important;
  margin-bottom: 15px!important;
}

.popup-top-button {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: rgb(14, 87, 216);
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.traiding .popup-top-button {
  margin-bottom: 10px!important;
  box-shadow: 0px 0px 30px 3px rgba(14, 87, 216, 0.8)!important;
}

.traiding a {
  border-radius: 30px!important;
  max-width: 300px!important;
  width: 100%!important;
  color: #ffffff!important;
  font-family: "Roboto" , sans-serif!important;
  font-weight: 700;
  display: block!important;
  margin: 0 auto!important;
}

.popup-bottom-button {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(48, 49, 49);
  padding: 18px 0px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
.analiz {
  background-color: rgb(29, 29, 29);
  background-position: center 40px !important;
  padding: 225px 30px 28px !important;
  padding-bottom: 12px !important;
}
.analiz .popup-heading {
  font-family: "Roboto", sans-serif!important;
  color: #ffffff !important;
}
.analiz .popup-subtitle {
  color: #ffffff !important;
  font-family: 'OpenSans', sans-serif!important;
  font-size: 16px !important;
  position: relative;
  padding: 0px 14px !important;
}
.analiz .popup-subtitle {
  margin-bottom: 20px!important;
}
.analiz .popup-description {
  color: #ffffff !important;
  font-family: 'OpenSans', sans-serif!important;
  font-size: 16px !important;
  padding: 0px 5px !important;
  font-weight: normal !important;
  padding: 0 16px !important;
  margin-bottom: 13px!important;
}
.analiz a, .analiz p {
  line-height: 1.2!important;
}
.analiz .popup-top-button {
  color: #ffffff !important;
  margin-bottom: 5px !important;
  font-weight: bold;
  display: block;
  background-color: rgb(129, 188, 41);
  text-align: center;
  text-transform: uppercase;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.analiz a, .analiz p {
  line-height: 1.2!important;
}
.analiz a {
  max-width: 300px !important;
  width: 100% !important;
  font-family: "Roboto", sans-serif!important;
  margin: 0 auto !important;
  padding: 16px 0!important;
  font-size: 20px !important;
}
.analiz .popup-bottom-button {
  color: #585858 !important;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(40, 40, 40);
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.analiz a, .analiz p {
  line-height: 1.2!important;
}
.planner {
  background-color: rgb(60, 60, 61);
  background-image: url(../img/maxiplanner-background.png);
  background-repeat: no-repeat;
  padding: 40px 30px 15px!important;
}
.planner .popup-heading {
  font-family: "Roboto" , sans-serif!important;
  color: #3C3C3D!important;
  font-size: 24px!important;
}
.planner p, .planner a, .planner h2 {
  line-height: 1.2!important;
}
.planner a {
  font-family: "Roboto" , sans-serif!important;
  max-width: 300px!important;
  width: 100% !important;
  color: #ffffff!important;
  margin: 0 auto!important;
  border-radius: 0!important;
  font-size: 22px!important;
}
.planner .popup-subtitle {
  background: url(https://cdn.backyard.ltd/popups/maxiplanner.png)!important;
  display: block!important;
  background-size: contain!important;
  width: 100%!important;
  height: 195px!important;
  margin: 0 auto!important;
  background-repeat: no-repeat!important;
  background-position-x: center!important;
}

.planner .popup-description {
  font-family: 'OpenSans', sans-serif!important;
  color: #3C3C3D!important;
  font-weight: bold!important;
  font-size: 16px!important;
  padding: 0 12px!important;
}
.planner .popup-top-button {
  margin-bottom: 10px!important;
}
.birzha {
  background-color: rgb(34, 95, 199);
  background-image: url(../img/birzha.png);
  background-repeat: no-repeat;
  padding: 255px 30px 20px!important;
  background-position-x: center!important;
}
.birzha .popup-heading {
  color: #ffffff!important;
  font-size: 16px!important;
  position: relative!important;
}
.birzha .popup-subtitle {
  margin-bottom: 20px!important;
  font-family: 'OpenSans', sans-serif!important;
  color: #ffffff!important;
  font-size: 16px!important;
  padding: 0 14px!important;
}
.birzha .popup-subtitle {
  position: relative;
}
.birzha a {
  font-family: "Roboto" , sans-serif!important;
  max-width: 300px!important;
  width: 100%!important;
  margin: 0 auto!important;
  border-radius: 10px!important;
  font-size: 20px!important;
}
.birzha .popup-description {
  font-family: 'OpenSans', sans-serif!important;
  color: #ffffff!important;
  padding: 0 10px!important;
  font-size: 14px!important;
  margin-bottom: 13px!important;
}
.birzha .popup-top-button {
  color: #225FC7 !important;
  margin-bottom: 10px!important;
  font-weight: bold;
  display: block;
  background-color: rgb(254, 209, 119);
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0px;
  border: none;
  text-decoration: none;
}
.birzha .popup-bottom-button {
  color: #225FC7!important;
  display: block;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(39, 122, 231);
  padding: 18px 0px;
  border: none;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
}
.quiz {
  background-color: rgb(18, 45, 115);
  background-image: url(../img/quiz.png);
  background-repeat: no-repeat;
  line-height: 1.2!important;
  padding: 192px 30px 20px!important;
  background-position: center 20px;
  color: #ffffff!important;
}
.quiz h2 {
  color: #ffcb69!important;
  font-family: "Roboto" , sans-serif!important;
}
.quiz .popup-subtitle {
  line-height: 150%!important;
  position: relative;
  font-family: "Montserrat" , sans-serif!important;
}
.quiz .popup-description {
  margin-top: 20px!important;
  font-family: "Montserrat" , sans-serif!important;
}

.quiz .popup-top-button {
  color: #1b357b!important;
  font-family: "Roboto" , sans-serif!important;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: rgb(255, 203, 105);
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.quiz .popup-bottom-button {
  color: #ffffff!important;
  font-family: "Roboto" , sans-serif!important;
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(38, 70, 158);
  padding: 18px 0px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
.all {
  background-color: rgb(131, 209, 241);
  background-image: url(../img/all.png);
  background-repeat: no-repeat;
  padding: 218px 30px 28px!important;
  background-position: center top;
}
.all h2 {
  color: #002e65!important;
  letter-spacing: 1px!important;
  margin: 0 0 15px!important;
  font-size: 24px!important;
  font-family: "Roboto" , sans-serif!important;
  line-height: 1.2!important;
}
.all .popup-subtitle {
  line-height: 150%!important;
}
.all p {
  color: #002e65!important;
}
.all a {
  color: #ffffff!important;
}
.all .popup-top-button {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: rgb(96, 190, 0);
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.all .popup-bottom-button {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(81, 168, 227);
  padding: 18px 0px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
.lessons {
  line-height: 1.2!important;
  padding: 206px 30px 20px!important;
  background-size: contain;
  color: #ffffff!important;
  background-color: rgb(29, 29, 29);
  background-image: url(../img/lessons.png);
  background-repeat: no-repeat;
}

.lessons h2 {
  line-height: 1.7;
  font-size: 19px!important;
}
.lessons .popup-subtitle {
  padding-bottom: 18px!important;
  border-bottom: 2px solid #ffffff50!important;
}
.lessons p {
  font-family: "Montserrat" , sans-serif;
  background-size: contain;
  color: #ffffff!important;
}

.lessons .popup-description {
  margin-bottom: 20px!important;
  margin-top: 10px!important;
}
.lessons .popup-top-button {
  color: #ffffff!important;
  font-family: "Roboto" , sans-serif;
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: rgb(234, 169, 21);
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.lessons .popup-bottom-button {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(53, 53, 53);
  padding: 18px 0px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
.ebook {
  padding: 200px 30px 20px!important;
  line-height: 1.2!important;
  color: #000000!important;
  background-color: rgb(55, 195, 192);
  background-image: url(../img/ebook.png);
  background-repeat: no-repeat;
}
.ebook h2 {
  color: #000000!important;
  font-family: "Roboto" , sans-serif!important;
}

.ebook .popup-top-button {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: rgb(251, 240, 121);
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}

.ebook .popup-top-button {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(135, 250, 248);
  padding: 18px 0px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}
.ebook p:nth-child(3) {
  border-bottom: 2px solid rgba(0, 0, 0, 0.15)!important;
  padding-bottom: 18px!important;
}
.ebook p, .webinar p {
  font-family: "Montserrat" , sans-serif!important;
}
.ebook a, .webinar a {
  font-family: "Roboto" , sans-serif!important;
}
.webinar {
  padding: 200px 30px 20px!important;
  line-height: 1.2!important;
}
.webinar {
  background-position: center top;
  color: #ffffff!important;
  background-color: rgb(0, 40, 181);
  background-image: url(../img/webinar.png);
  background-repeat: no-repeat;
} 
.webinar h2 {
  font-size: 22px!important;
  color: #ffffff!important;
  font-family: "Roboto" , sans-serif!important;
}
.webinar .popup-subtitle {
  position: relative!important;
  margin: 15px 0 0!important;
}
.webinar .popup-description {
  margin-top: 14px!important;
}

.webinar .popup-top-button {
  width: 100%;
  font-size: 18px;
  font-weight: bold;
  display: block;
  background-color: rgb(0, 190, 103);
  text-align: center;
  text-transform: uppercase;
  padding: 18px 0px;
  margin-bottom: 10px;
  border: none;
  border-radius: 5px;
  text-decoration: none;
}
.webinar .popup-bottom-button {
  width: 100%;
  display: block;
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
  background: rgb(46, 81, 214);
  padding: 18px 0px;
  border: none;
  border-radius: 5px;
  text-align: center;
  margin-top: 10px;
  text-decoration: none;
  cursor: pointer;
}